{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}

<style>
    * {
        box-sizing: border-box;

    }

    .modal-container {
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .modal {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 30px 50px;
        width: 600px;
        max-width: 100%;
        text-align: center;
    }

    .modal-container.show {
        pointer-events: auto;
        opacity: 1;
    }

    .modal h1 {

        margin: 0;
    }
    .container-fluid-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        grid-gap: 2em;
    }
</style>

<form action="{% url 'punto_venta' %}" onsubmit="notifySuccess(this); return false" method="POST">
    {% csrf_token %}   
    <input type="date" id="fechaActual" name="fecha_venta" value="{{datos_act.fecha_venta}}" style="visibility: hidden;">
    <input type="text" id="total"  name="total_venta" value="{{datos_act.total_venta}}" >
    
    <div class="container">
        <div class="clientept">
            <div>
                <label for="ingresar-nombre">Cedula de cliente </label>
                <input type="number" class="clienteptex"  onchange="traerCliente(this);" name="codigo_cliente_venta" value="{{datos_act.codigo_cliente_venta}}" >
              
    
            </div>
        </div>
        <div class="clientept">
            <label for="ingresar-nombre" id="nombre_cliente">Nombre del Cliente: </label>
    
        </div>
        <div>
            <label for="ingresar-nombre">Metodo de pago </label>

            <select class="dataTable-selector form-select" name="metodo_pago">
                {% for lista in listametodo%}
                <option value="{{lista.codigo_metodo_pago}}" {% if lista.codigo_metodo_pago == datos_act.metodo_de_pago_id%} selected {% endif %}>
                    {{lista.nombre_metodo_pago}}
                </option>
                {% endfor %}
            </select>
        </div>
    
       
        <div class="busqueda">
            <div>
                <label for="ingresar-nombre">Buscar producto </label>
                <input type="text" class="clienteptex" id="buscar"> <!-- ID de "buscar" para realizar busqueda-->
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header"> </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="item">
                                <section class="store">
                                        
                                        <table class="table table-striped dataTable-table" id="tabla">
                                            <thead>
                                                <tr>
                                                    <th data-sortable="dataTable-sorter" style="width: 10%;">Nombre</th>
                                                    <th data-sortable="dataTable-sorter" style="width: 10%;">Precio</th>
                                                    <th data-sortable="dataTable-sorter" style="width: 10%;"></th>
                                                </tr>
                                            </thead>
                    
                                            <tbody>
                                                {%for lista in listatabla%}
                                                <tr class="item">
                                                    <td class="item-title">{{lista.nombre_productos}}</td>
                                                    <td class="item-price">{{lista.precioventa_productos}}</td>
                                                    <td>
                                                        <a type="button" class="text-secondary font-weight-bold text-xs addToCart"><i
                                                                class="fas fa-cart-plus"></i></a>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                  
                            </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-6">
                    <div class="card">
                            <section class="shopping-cart">
                                <div class="container">
                                    <h1 class="text-center">Vender</h1>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="shopping-cart-header">
                                                <h6>Producto</h6>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="shopping-cart-header">
                                                <h6 class="text-truncate">Precio</h6>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="shopping-cart-header">
                                                <h6>Cantidad</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ? START SHOPPING CART ITEMS -->
                                    <div class="shopping-cart-items shoppingCartItemsContainer">
                                   
                                    </div>
                                    <!-- ? END SHOPPING CART ITEMS -->
                        
                                    <!-- START TOTAL -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="shopping-cart-total d-flex align-items-center">
                                                <p class="mb-0">Total</p>
                                                <p class="ml-4 mb-0 shoppingCartTotal" id="total_venta">Gs.</p>
                                                <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                                                    data-delay="2000">
                                                    <div class="toast-header">
                                                        <span>✅</span>
                                                        <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="toast-body text-white">
                                                        Se aumentó correctamente la cantidad
                                                    </div>
                                                </div>

                                                <button class="btn btn-success ml-auto comprarButton" type="submit" data-toggle="modal"
                                                    data-target="#comprarModal">Vender
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- END TOTAL -->
                        
                                    <!-- START MODAL COMPRA -->
                                    <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>La compra se realizo con exito</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END MODAL COMPRA -->
                        
                        
                                </div>
                        
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>




</form>
</body>

</html>



<script>
    function traerCliente(event) { //event es el input donde se carga el valor
        var flag = false
        var nCliente = document.getElementById("nombre_cliente") //traigo el label que se va a modificar con el nombre del cliente
        {% for cliente in listacliente %}
            var ci_cliente = "{{cliente.codigo_cliente}}"   //se trae cedula del cliente

            if(event.value == ci_cliente) { //se compara si las cedulas de la base de datos coincide con el del input
                nCliente.innerHTML = "Nombre del Cliente: {{cliente.nombre_cliente}}"   //si coincide se carga el nombre al label
                flag = true
            }

            if(!flag) {
                nCliente.innerHTML = "Nombre del Cliente: No existe ese cliente"//si coincide se muestra el mensaje en el label
            }
        {% endfor %}

        if(event.value == '') { //si el input esta vacio el label se vaciara tambien
            nCliente.innerHTML = "Nombre del Cliente:  "
        }
    }
</script>

<script src="{% static 'assets/js/tienda.js'%}"></script>
<script src="{% static 'assets/js/search.js' %}"></script> <!-- Script para busqueda-->
<script>
    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10
        document.getElementById('fechaActual').value = ano + "-" + mes + "-" + dia;
    } 
</script>
<script>
function updateShoppingCartTotal() {
  let total = 0;
  const shoppingCartTotal = document.querySelector('.shoppingCartTotal');

  const shoppingCartItems = document.querySelectorAll('.shoppingCartItem');

  shoppingCartItems.forEach((shoppingCartItem) => {
    const shoppingCartItemPriceElement = shoppingCartItem.querySelector(
      '.shoppingCartItemPrice'
    );
    const shoppingCartItemPrice = Number(
      shoppingCartItemPriceElement.textContent.replace('Gs', '')
    );
    const shoppingCartItemQuantityElement = shoppingCartItem.querySelector(
      '.shoppingCartItemQuantity'
    );
    const shoppingCartItemQuantity = Number(
      shoppingCartItemQuantityElement.value
    );
    total = total + shoppingCartItemPrice * shoppingCartItemQuantity;
  });
  document.getElementById('total').value=total;
  shoppingCartTotal.innerHTML = `${total.toFixed(0)} Gs.`;
  console.log(total.toFixed(0));
   
}
    
</script>

{%endblock%}