{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}

<body>
    <div class="main-content container-fluid">

        <!-- Basic Tables start -->
        <div class="main-content container-fluid">
            
            <section class="section">
                <div class="row">
                    <div class="main-content container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                    <div class="dataTable-container">
                                        <table class="table table-flush dataTable align-items-center" id="datosventa">
                                            <h3 class="text-center">Reporte de Ventas</h3>
                                            <thead>
                                                <tr>
                                                    <th>Nombre Cliente</th>
                                                    <th>fecha de la venta</th>
                                                    <th>total a pagar</th>
                                                    <th>Opciones</th>
            
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for lista in parameters.listatabla%}
            
                                                <tr>
                                                    {%for cliente in parameters.listacliente%}
                                                    {% if cliente.codigo_cliente == lista.codigo_cliente_venta_id %}
                                                    <td>{{cliente.nombre_cliente}}</td>
                                                    {%endif%}
                                                    {%endfor%}
                                                    {% if lista.codigo_cliente_venta_id == NULL %}
                                                    <td>Casual</td>
                                                    {%endif%}


                                                    <td>{{lista.fecha_venta}}</td>
                                                    <td>{{lista.total}}</td>
                                                    <td>
                                                        <form class="" action="{% url 'reportes_cliente' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="number" name="metodo" value="2" style="display: none;">
                                                            {%if lista.metodo_de_pago_id == 1%}
                                                            
                                                                <a href="{% url 'pagar' lista.codigo_venta %}" class="text-secondary font-weight-bold text-xs"
                                                                    data-toggle="tooltip" data-original-title="Edit user" onclick="checker()">
                                                                    pagar libreta
                                                                </a>
                                                                {%else%} pagado
                                                            
                                                            {%endif%}
                                                        </form>
                                                    </td>
                                                    
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-content container-fluid">
                        <div class="card">
                            <div class="card-header">                               
                            </div>
                            <div class="card-body">
                                <div
                                    class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                    <div class="dataTable-container">
                                        <table class="table table-flush dataTable align-items-center" id="datos1">
                                            <thead>
                                                <h3 class="text-center">Auditoria de Clientes</h3>
                                                <tr>
                                                    <th class="dataTable-sorter">Nombre Cliente</th>
                                                    <th class="dataTable-sorter">telefono</th>
                                                    <th class="dataTable-sorter">direccion</th>
                                                    <th class="dataTable-sorter">Responsable</th>                                                
                                                </tr>
                                            </thead>
                                            {%for lista in parameters.listaaudicl%}
                                            <tr>
                                                <td>{{lista.nombre_cliente}}</td>
                                                <td>{{lista.telefono_cliente}}</td>
                                                <td>{{lista.direccion_cliente}}</td>
                                                <td>{{lista.nombre_usuario}}</td>
                                            </tr>
                                            {%endfor%}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>

</body>
    <script>
        function checker() {
            var result = confirm('Estas seguro que quieres pagar esta deuda?');
            if (result == false) {
                event.preventDefault();
            }
        }
    </script>

    {% block extrajs %}
    <script>
        $(document).ready(function () {
            $('#datos1').DataTable({
                "language": {
                    "emptyTable": "No existen registros a exponer.",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ".",
                    "lengthMenu": "Registros a mostrar _MENU_",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se obtuvo ninguna coincidencia",
                    oPaginate: {
                        sNext: '<i class="fa fa-forward"></i>',
                        sPrevious: '<i class="fa fa-backward"></i>',
                        sFirst: '<i class="fa fa-step-backward"></i>',
                        sLast: '<i class="fa fa-step-forward"></i>'
                    }
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#datosventa').DataTable({
                "language": {
                    "emptyTable": "No existen registros a exponer.",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ".",
                    "lengthMenu": "Registros a mostrar _MENU_",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se obtuvo ninguna coincidencia",
                    oPaginate: {
                        sNext: '<i class="fa fa-forward"></i>',
                        sPrevious: '<i class="fa fa-backward"></i>',
                        sFirst: '<i class="fa fa-step-backward"></i>',
                        sLast: '<i class="fa fa-step-forward"></i>'
                    }
                }
            });
        });
    </script>

    {% endblock %}


    {%endblock%}