{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
<div class="dataTable-container" style="overflow-y:auto;">
    <table class="table table-striped dataTable-table" id="tabla">
        <thead>
            <tr>
                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                        class="dataTable-sorter">Nombre Cliente</a></th>
                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                        class="dataTable-sorter">fecha de la venta</a></th>
                <th data-sortable="" style="width: 26.7434%;"><a href="#"
                        class="dataTable-sorter">total a pagar</a></th>

            </tr>
        </thead>

        {%for lista in listatabla%}
            
                <tr>
                {%for cliente in listacliente%}
                    {% if cliente.codigo_cliente == lista.codigo_cliente_venta %}
                    <td>{{cliente.nombre_cliente}}</td>
                    {%endif%}
                {%endfor%}
                    <td>{{lista.fecha_venta}}</td>
                    <td>{{lista.total_venta}}</td>
                {%if lista.metodo_de_pago_id == 1%}
                    <th data-sortable=""><a href=""
                            class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                            data-original-title="Edit user">

                            pagar
                        </a>
                {%else%}
                {%for metodo in listametodo%}
                    {%if lista.metodo_de_pago_id == metodo.codigo_metodo_pago%}
                            <td>{{metodo.nombre_metodo_pago}}</td>
                    {%endif%}
                {%endfor%}
                {%endif%}




                </tr>
            
            
        
        {%endfor%}
    </table>
</div>

{%endblock%}